body {
  font-family: "Aldrich", sans-serif;
}

* {
  font-family: inherit;
}

p {
  margin: 5px 5px;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px
  /* z-index: 999; */
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  width: 1400px;
  /* background-color: antiquewhite; */
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 1400px;
  margin-top: 30px;
  /* background-color: aliceblue; */
}

.first-section {
  display: flex;
  height: 100%;
  flex-direction: row;
  /* background-color: aqua; */
}

.chart-wrapper {
  display: flex;
  flex-direction: row-reverse;
  z-index: inherit;
}

.vega-bindings {
  width: 60px;
}

.vega-bindings, label {
  font-size: 14px;
  color: #2d2d2d;
}

.vega-bind {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.vega-bind-name {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.vega-bind-radio {
  display: flex;
  height: 100%;
  flex-direction: column; 
  justify-content: space-between;
  margin: 5px 0;
}

.vega-bindings input {
  display: none;
}

.vega-bindings label {
  display: inline-flex;
  width: 46px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  user-select: none;
}

.vega-bindings label:hover {
  background-color: #f9c2c2;
}

.vega-bindings form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vega-bindings label:has(input[type="radio"]:checked) {
  background-color: #ff6b6b;
  color: white;
}


.timeline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-right: 2px solid #888;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 15px;
  /* height: 653px; */
}

.timeline-item {
  position: relative;
}

/* .dot {
  position: absolute;
  left: -2.5px;
  width: 7px;
  height: 7px;
  background-color: #ebb1b1;  
  border-radius: 50%;
} */

#indicator {
  position: absolute;
  color: #b03838;
  left: -15px;
  transition: top 0.8s ease, transform 0.1s ease;
  transform-origin: center;
}

.second-section {
  display: flex;
  height: 600px;
  flex-direction: column;
  /* background-color: thistle; */
  /* z-index: -1; */
  overflow: hidden;
}

#heatmap-title {  
  margin-left: 40px;
  font-size: 20px;
  font-weight: bold;
}

.plane {
  position: relative;
  width: 100%;
  transform: rotateZ(-90deg);
  scale: 0.7;
  left: -50%;
  top: 425px;
  /* z-index: -2; */
}

#plane-img {
  position: absolute; 
  scale: 0.8;
}

#vis-heatmap {
  position: absolute;
  transform: rotateZ(90deg);  
  left: 343px;
  top: 875px;
}

.annotation-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: center;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  /* background-color: #b03838; */
}

#annotation-title {
  font-size: 20px;
  text-decoration: underline;
}

#annotation-text {
  margin-top: 20px;
  display: flex;
  height: 100%;
  flex-direction: column;
  font-size: 14px;
  justify-content: space-between;
}

.third-section {
  display: flex;
  flex-direction: row;
  /* background-color:azure; */
}

.line-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 50px;
}

.text-emp {
  font-size: 15px;
  font-weight: bold;
}
