@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Bree+Serif&display=swap');

body {
  font-family: "Aldrich", sans-serif;
}

* {
  font-family: inherit;
}

p {
  margin: 5px 5px;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.title {
  text-align: center;
  font-family: "Bree Serif", serif;
  font-size: 40px;
  font-weight: bold;
  width: 1200px;
  padding: 10px 0;
  background-color: rgb(255, 255, 255);
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 1200px;
}

.first-section {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 20px;
}

.annotation-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

#annotation-title {
  font-size: 20px;
  font-weight: bold;
}

#annotation-text {
  display: flex;
  height: 100%;
  flex-direction: row;
  gap: 40px;
  font-size: 14px;
  align-items: top;
  justify-content: center;
}

#annotation-text p {
  border-left: 1px solid black;
  min-width: 100px;
  padding-left: 10px;
}

#chart-content {
  display: flex;
  flex-direction: row;
}

.chart-wrapper {
  display: flex;
  flex-direction: row;
  z-index: inherit;
}

.vega-bindings {
  margin-left: 10px;
}

.vega-bindings,
label {
  font-size: 14px;
  color: #2d2d2d;
}

.vega-bind {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.vega-bind-name {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.vega-bind-radio {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 0;
}

.vega-bindings input {
  display: none;
}

.vega-bindings label {
  display: inline-flex;
  width: 46px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  user-select: none;
}

.vega-bindings label:hover {
  background-color: #aaaaaa;
}

.vega-bindings form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vega-bindings label:has(input[type="radio"]:checked) {
  background-color: #000000;
  color: white;
}


.timeline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-right: 2px solid #888;
  left: -30px;
  margin-top: 28px;
  margin-bottom: 15px;
}

.timeline-item {
  position: relative;
}

#indicator {
  position: absolute;
  left: -15px;
  transition: top 0.8s ease, transform 0.1s ease;
  transform-origin: center;
}

.second-section {
  display: flex;
  height: 600px;
  flex-direction: column;
  padding: 15px 5px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

#heatmap-title {
  margin-left: 40px;
  font-size: 24px;
  font-weight: bold;
}

.plane {
  position: relative;
  width: 100%;
  transform: rotateZ(-90deg);
  scale: 0.7;
  left: -690px;
  top: 485px;
}

#plane-img {
  position: absolute;
  scale: 0.8;
}

#vis-heatmap {
  position: absolute;
  transform: rotateZ(90deg);
  left: 422px;
  top: 855px;
}

.second-section-annotations {
  position: relative;
  width: 100%;
}

.second-section-annotations div {
  position: absolute;
}

.second-section-annotations div p {
  font-size: 12px;
}

.second-section-annotations hr {
  color: #000000;
  position: absolute;
}

#helper {
  font-size: 12px;
  margin-left: 40px;
}

.main-percent {
  font-size: 25px;
  font-weight: bold;
}

.section-caption {
  font-size: 15px;
  font-weight: bold;
}

.seat-caption {
  font-size: 15px;
  font-weight: bold;
}

#annotation1 {
  left: 40px;
  top: 15px;
  background: rgba(243, 243, 243, 0.9);
  padding: 10px;
}

#line1 {
  left: 170px;
  top: 140px;
  width: 90px;
  transform: rotateZ(70deg);
  background-color: #adadad;
  border: none;
  height: 2px;
}

#annotation2 {
  left: 350px;
  top: 15px;
  background: rgba(243, 243, 243, 0.9);
  padding: 10px;
}

#line2 {
  left: 450px;
  top: 145px;
  width: 70px;
  transform: rotateZ(70deg);
  background-color: #8f8f8f;
  height: 2px;
}

#annotation3 {
  left: 750px;
  top: 15px;
  background: rgba(243, 243, 243, 0.9);
  padding: 10px;
}

#line3 {
  left: 800px;
  top: 150px;
  width: 70px;
  transform: rotateZ(-80deg);
  background-color: #8f8f8f;
  height: 2px;
}

#annotation4 {
  left: 150px;
  top: 390px;
  background: rgba(243, 243, 243, 0.9);
  padding: 10px;
}

#line4 {
  left: 310px;
  top: 325px;
  width: 170px;
  transform: rotateZ(-60deg);
  background-color: #8f8f8f;
  height: 2px;
}

#annotation5 {
  left: 750px;
  top: 390px;
  background: rgba(243, 243, 243, 0.9);
  padding: 10px;
}

#line5 {
  left: 705px;
  top: 325px;
  width: 130px;
  transform: rotateZ(60deg);
  background-color: #8f8f8f;
  height: 2px;
}

#safest-area {
  font-size: 40px;
  font-weight: bold;
  color: #238649;
}

#dangerous-area {
  font-size: 40px;
  font-weight: bold;
  color: #862323;
}

.third-section {
  display: flex;
  flex-direction: row;
  padding: 15px 5px;
  background-color: rgb(255, 255, 255);
}

.line-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 50px;
}

.text-emp {
  font-size: 15px;
  font-weight: bold;
}

.fourth-section {
  background-color: rgb(255, 255, 255, 0.5);
}